
/* =========================== START 0F CSS CODE =========================== */

html,body{
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
} 
#fisrt_strip{ 
    background-color: #316DC3 ;
    color: white;  
}
#first_line{
   text-align: center;
}
#top_buttons{
    border: none;
    outline: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 0;
    background-color: #f7f8fa;
}

#icons{
    color: #fff;
}

#navbar{
    overflow: hidden;
    background-color: #f7f8fa;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    z-index: 99;
}
#navbar{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 0px;
    top: auto;
}

 #logo {
    width: 13rem;
  }
  
#nav_buttons{
    text-decoration: none !important;
    color: black !important;
    font-size: 1rem !important;
    padding: 8px !important;
    margin: 0 5px !important;
}
#nav_buttons:hover{
    background-color: #316DC3;
    color: white !important;
    border-radius: 100px;
    padding: 8px;
}
 #Home_Button{
    background: #316DC3;
    border-radius: 100px;
    padding: 8px;
    color: white;
    font-size: 1rem;
} 

#navbar a.active {
    background-color: #316DC3;;
    color: white;
  } 

#white_color{
    background-color: #f7f8fa;
}

#counting_numbers{
    font-size: 48px !important;
    font-family: 'Merriweather', serif !important;
    font-weight: 500;
}
#small_text{
    font-size: 1rem;
    color: white;
    font-family: 'Merriweather', serif !important;
    font-size: 14px;
}
#intro_heading{
    font-family: 'Merriweather', serif !important;
    font-weight: bolder;
}
#we_doing{
    background-color: #f7f8fa;
}
#second_heading{
    font-family: 'Merriweather', serif !important;
    font-weight: bolder;   
}
#box{
    cursor: pointer !important;
}
#very_small{
    font-family: 'Merriweather', serif;
    color: #316DC3 !important;
    font-weight: bolder !important;
}
#third_Heading{
    font-family: 'Merriweather', serif !important;
    font-weight: bolder !important;
    font-size: 1.5rem;
    color: #316DC3;
    margin-top: 1rem !important;
}
#fourth_Heading{
    font-family: 'Merriweather', serif !important;
    font-weight: bolder !important;
    font-size: 1.5rem;
    color: #316DC3;
}
#two_boxes{
    background-color: #f7f8fa ;
}

.marquee{
    overflow: initial;
    overflow-y: hidden;
    white-space: initial;
    color: #666666;
    line-height: 1.5;
    scroll-behavior: smooth;
}
#long_para{
    color: #666666;
}

@media (min-width: 400px) { 
    #long_para{
        text-align: justify;
         padding: 0px;
         /* word-spacing: 0em; */
        }
 }
 @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar {
      float: none;
    }
  }
  /* 360 for toggler */
  @media screen and (max-width: 360px) {
   #logo{
     width: 9rem ;
   }
  }

.carousel{
    margin-top: 5.5rem;
}

#last_Heading{
    font-family: 'Merriweather', serif !important;
    font-weight: bolder;
}
#useful_link{
    font-family: 'Merriweather', serif !important;
    font-size: 15px !important; 
}
#phone_icon{
    color: #427900 !important
}
#footer_icon{
    width: 20px;
    margin-right: 20px;
}
#zoom{
    transition: transform 0.2s;
}
#zoom:hover{
    transform: scale(1.5) 
}
#button {
    display: inline-block;
    padding: 2px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    /* background-color: #808080; */
    background-color: #555;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  html, html a {
    -webkit-font-smoothing: antialiased;
}
#connect_us{
    font-family: 'Merriweather', serif !important;
    font-size: 1rem;
    font-weight: 600;
}
#list{
    font-size: 15px !important;
    color: #bbb;
}






/* footer content */

html,
body,
img,
figure {
  max-width: 100%;
}
html,
body {
  overflow-x: hidden;
  color: #000;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
}


/* =========================== END 0F CSS CODE =========================== */

/* ===========================DESIGNED BY MUHAMMAD WASI =========================== */